.navbar {
    background: #102542;
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
  }

.navbar-brand {
    font-size: 25px;
    font-family: Book Antiqua;
    font-weight: bold;
    color: #FFFFFF;
    background: #F87060;
}
.navbar li a {
    display: block;
    color: #B3A394;
  }

.container {
    display: block;
    background-color: white;
}

.container h1 {
    color:  #F87060;
    font-family: Book Antiqua;
    font-weight: bold;
    margin-left: 10px;
}

.container h2 {
    color:  #F87060;
    padding-top: 30px;
    padding-left: 20px;
    font-family: Book Antiqua;
    font-weight: bold;
}
.container img {
    display: inline;
    margin: 20px 20px;
}
.container p {
    display: block;
    padding: 10px;
    line-height: 2.2;
    padding-left: 20px;
    padding-right: 20px;
    color: #102542;
}

.col-lg-8 {
    border-right: solid #CDD7D6;
    border-right-width: 40px;
    padding: 40px;
}

.col-md-6 {
    margin-left: -10px;
}
.container h3 {
    color:  #F87060;
    text-align: center;
    font-family: Book Antiqua;
    font-weight: bold;
}

#maintable {  
    width: 100%;
    border-collapse: collapse; 
    border-spacing: 40px;
    padding: 50px;
}
#maintable td, th { border: 1px solid #FFFFFF; 
text-align:  center;}  


#maintable th {  
    background: #F3F3F3;
    font-weight: bold;
}

#maintable td {  
    background: #FAFAFA;
    text-align: center;
}

.boxx {
    border: solid #F87060;

}

@media (max-width: 800px)
{
    .col-lg-8 {
        border-bottom: solid #FFFFFF;
        border-bottom-width: 40px;
        border-right: 20px;
    }
}




